* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.01em;
}

a {
  text-decoration: none;
}



.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding-right: 50px;

  background-image: url("./assets/img-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing-title {
  text-align: right;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
  
}

.landing-title strong {
  display: block;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.01em;
}

.landing-link {
  line-height: 1;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 13px 30px;
}

.banner {
  position: fixed;
  bottom: 0;
  height: 40px;
  width : 100%;
  background-color: #FCCA39;
  
}

.banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.banner-title a {
  display: block;
  font-size: 13px;
  color: #1f2d3d;
}

@media screen and (min-width : 768px) {

  .banner {
    top : 0;
  }

  .landing {
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .landing-title {
    text-align: center;
  }

  .landing-title {
    font-size: 40px;
  }

}


