* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  color: #273444;
  background-color: #000;
}

input:focus,
input:active,
button:focus,
button:active {
  box-shadow: none;
  outline: none;
}

.modal {
  background-color: #fff;
}

.modal-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6666666667;
}

.modal-desc {
  font-size: 16px;
  line-height: 1.5;
}

.input-group input,
.input-group button {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.4285714286;
}

.close-button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url(./assets/icon-close.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  top: 10px;
  right: 10px;
}

/* ▼ WHERE YOUR CODE BEGINS */

.modal {
  position: fixed;
  text-align: center;
  padding: 30px 20px;
  width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* 꼭지점기준 가운데가 되어서 자기 기준으로 반씩 다시 옮겨주는 작업 */
}

.modal-desc {
  width: 600px;
  margin: 0px auto 20px auto;
}

.input-group input {
  width: 200px;
  height: 36px;
  padding: 0 16px;
  border-style: none;
  border-radius: 4px;
  background-color: #f6f8fa;
}

.input-group button {
  height: 36px;
  padding: 5px 14px;
  color: #fff;
  background-color: blue;
  border-radius: 4px;
  border-style: none;
  font-weight: 500;
  margin-left: 15px;
}
