* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
/* 도화지를 만드는 작업!! */
a {
  color: inherit; /* 부모의 색을 상속받아라! */
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* 이거는 요구사항에 맞게 맞춰놓는거 */
p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

.container {
  padding : 0;
}

/* landing */
.landing {
  display: flex;
  flex-direction: column;
  justify-content : center;
  align-items : center;
  width : 100%;
  height: 568px;
  padding : 154px 15px;
  background-color: #FDDED8;
}

.landing h1{
  font-size : 40px;
  font-weight : 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
  width : 330px;
  height : 120px;
}

.landing p {
  width : 290px;
  height : 44px;
  font-weight : 400;
  text-align: center;
  margin-bottom: 24px;
  
}

.landingBtn {
  display: flex;
}

.landing button {
  width : 140px;
  height : 48px;
  border-radius : 2px;
  border-style: none;
  font-size: 15px;
  font-weight : 700;
}

.applyBtn {
  color : #fff;
  background-color: #3040C4;
  
}

.moreBtn {
  color : #3040C4;
  background-color : #fff;
  margin-left : 8px;
}

/* Service */
.service {
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  width : 100%;
  height : 496px;
  background-color: #F4F5F7;
  padding : 80px 15px;
}

.service1 {
  margin-bottom : 40px;
}

.service h1 {
  font-size : 22px;
  margin-bottom: 16px;
}

/* >=768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.3636363636;
  }

  /* landing (Desktop) */
  .landing h1 {
    font-size : 60px;
    width : 900px;
    line-height: 70px;
    margin-bottom: 32px;
  }

  .landing p {
    margin-bottom: 32px;
  }

  .landing button {
    width : 160px;
    height : 56px;
    font-size: 18px;
    
  }

  /* Service (Desktop) */
  .service {
    display : flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    height : 340px;
    padding : 80px 15px;
  }

  .service1 {
    margin-bottom : 0; 
    margin-right : 20px;
  }

  .service h1 {
    font-size : 26px;
  }

  /* .service1 h1 {
    padding-right : 30px;
  }

  .service2 h1 {
    padding-right : 60px;
  } */
}

/* bootstrap grid 1200px 이상 고정 */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
