* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #e5e5e5;
}

/* Reset CSS */
/* 도화지를 만드는 작업!! */
a {
  color: inherit; /* 부모의 색을 상속받아라! */
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* 이거는 요구사항에 맞게 맞춰놓는거 */
p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

.container {
  padding: 0;
}

/* landing */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 568px;
  padding: 154px 15px;
  background-color: #fdded8;
}

.landing h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
  width: 330px;
  height: 120px;
}

.landing p {
  width: 290px;
  height: 44px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}

.landingBtn {
  display: flex;
}

.landing button {
  width: 140px;
  height: 48px;
  border-radius: 2px;
  border-style: none;
  font-size: 15px;
  font-weight: 700;
}

.applyBtn {
  color: #fff;
  background-color: #3040c4;
}

.moreBtn {
  color: #3040c4;
  background-color: #fff;
  margin-left: 8px;
}

/* Service */
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 496px;
  background-color: #f4f5f7;
  padding: 80px 15px;
}

.service1 {
  margin-bottom: 40px;
}

.service h1 {
  font-size: 22px;
  margin-bottom: 16px;
}

/* program */
.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 15px;
  width: 100%;
  background-color: #fff;
}

.programContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 272px;
}

.programContent .category {
  color: #009b4d;
  font-weight: 700;
  margin-bottom: 8px;
  width: 290px;
}

.programContent .title {
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 24px;
  width: 290px;
}

.programContent .description {
  line-height: 24px;
  margin-bottom: 32px;
  width: 290px;
}

.programImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 913px;
}

.programImg .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 290px;
  height: 291px;
  box-shadow: 0px 1px 3px 0px #0000001a;
  margin-bottom: 20px;
}

.programImg .box img {
  display: block;
  width: 142px;
  height: 195px;
  margin-bottom: 16px;
}

.programImg .box h4 {
  margin-bottom: 32px;
}

/* curriculum */

.curriculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 706px;
  background-color: #fff;
}

.curriculumHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.curriculumHeader .category {
  color: #0189d1;
  font-weight: 700;
  margin-bottom: 8px;
  width: 290px;
}

.curriculumHeader .title {
  font-size: 34px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 24px;
  width: 290px;
}

.curriculumHeader .description {
  margin-bottom: 44px;
  width: 290px;
}

.curriculumHeader .applyBtn {
  width: 140px;
  height: 48px;
  border-radius: 2px;
  border-style: none;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #3040c4;
  margin-bottom: 60px;
}

.curriculumHeader img {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.curriculumDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.curriculumDetail .detail {
  width: 290px;
  height: 88px;
}

.curriculumDetail .detail:first-child {
  margin-bottom: 40px;
}

/* >=768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.3636363636;
  }

  /* landing (Desktop) */
  .landing h1 {
    font-size: 60px;
    width: 900px;
    line-height: 70px;
    margin-bottom: 32px;
  }

  .landing p {
    margin-bottom: 32px;
  }

  .landing button {
    width: 160px;
    height: 56px;
    font-size: 18px;
  }

  /* Service (Desktop) */
  .service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 340px;
    padding: 80px 15px;
  }

  .service1 {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .service h1 {
    font-size: 26px;
  }

  /* program (Desktop)*/
  .program {
    width: 100%;
  }

  .programContent {
    align-items: center;
    width: 100%;
  }
  .programContent .category {
    width: 100px;
  }

  .programContent .title {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    width: 500px;
  }

  .programContent .description {
    text-align: center;
    width: 770px;
  }

  .programImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 299px;
  }

  .programImg .box {
    width: 290px;
    height: 299px;
    box-shadow: 0px 1px 3px 0px #0000001a;
    margin-bottom: 0;
    margin-right: 20px;
  }

  /* .programImg .box :nth-child(2) {
    background-color: #3141c5;
  } */

  .programImg .box:last-child {
    margin-right: 0;
  }

  /* curriculum */

  .curriculum {
    height: 728px;
  }

  .curriculumHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .curriculumHeader .title {
    width: 450px;
  }

  .curriculumHeader .description {
    width: 450px;
    margin-bottom: 72px;
  }

  .curriculumHeader img {
    visibility: visible;
    width: 425px;
    height: 426px;
    margin-left: 43px;
  }

  .curriculumDetail {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .curriculumDetail .detail {
    font-size: 18px;
    width: 450px;
    height: 78px;
  }

  .curriculumDetail .detail:first-child {
    margin-bottom: 0;
  }
}

/* bootstrap grid 1200px 이상 고정 */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
